
/* Primary colors */
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
/* Secondary */
$red: hsl(0, 87%, 67%);
/* Neutral */
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$vary-dark-violet: hsl(260, 8%, 14%);
$athens-gray: #F0F1F6;
$santas-gray: #9F9EA3;
$baltic-sea: #322E3B;
$black-white: #FFFFFB;

h1 {
  font-size: 76px;
  margin: 0;
  line-height: 89px;
  color: $baltic-sea;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
}

.height {
  height: 25px;
}

h4 {
  font-size: 23px;
  margin-top: 4px;
  color: $santas-gray;
  font-weight: 500;
}

.width-100 {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  justify-content: space-between;

  .brand-links-section {
    width: 50%;
    display: flex;

    .dimention-logo {
      width: 115px;
      height: 34px;
    }
  }
  
  .links {
    margin-left: 8%;
    display: flex;
    justify-content: space-between;
    width: 47%;

    .link {
      text-decoration: none;
    }
  }
}

.link-no-subline {
  text-decoration: none;
  color: $santas-gray;
}

.background-color-athens-gray {
  background-color: $athens-gray;
}

.general-padding {
  padding: 4% 10% 0 11%;
}

.login-sign-up {
  display: flex;
  align-items: center;
  width: 17%;
  justify-content: space-between;
  
  .button {
    width: 112px;
    height: 41px;
    border-radius: 33px;
    background-color: $cyan;
    font-size: 17px;
    color: $athens-gray;
  }
}

.get-started-seccion {
  margin-top: 9%;
  height: 615px;
  padding-left: 11%;

  .more-than-just {
    width: 50%;
    margin-top: 7%;

    .get-started-button {
      width: 197px;
      height: 56px;
      margin-bottom: 144px;
      border-radius: 27px;
      font-size: 17px;
      color: $athens-gray;
      background-color: $cyan;
    }
  } 
  
  .hero-image {
    background-size: cover;
    background-position: left;
    height: 470px;
    background-repeat: no-repeat;
    margin-left: 3%;
    width: 47%;
    background-image: url("images/illustration-working.svg");
  }
}

.advanced-statistics-section {
  background-color: $athens-gray;
  position: relative;
  height: 880px;

  .shorten-link-section {
    height: 170px;
    border-radius: 10px;
    width: 77%;
    margin: auto;
    background-image: url("images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-color: $dark-violet;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -80px;
    left: 12%;
  
    .input {
      width: 750px;
      height: 62px;
      border-radius: 12px;
      font-size: 19px;
      padding-left: 32px;
      color: $grayish-violet;
      border: none;
      font-family: 'Poppins', sans-serif;
    }
  
    .button {
      width: 190px;
      height: 62px;
      border-radius: 12px;
      margin-left: 21px;
      background-color: $cyan;
      font-size: 20px;
      color: $athens-gray;
      border: none;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }
  }

  .advanced-statistics-text {
    text-align: center;
    padding-top: 174px;
    margin-bottom: 6%;

    .title {
      font-family: 'Poppins', sans-serif;
      font-size: 38px;
      margin-bottom: 16px;
    }

    .description {
      font-size: 18px;
      line-height: 33px;
      color: $grayish-violet;
    }
  }

  .box {
    display: flex;
    justify-content: space-between;
    display: flex;
    margin-bottom: 0px;
    width: 78%;
    margin: auto;

    .brand-recognition {
      position: relative;
    }

    .brand-recognition::after {
      content: "";
      display: block;
      width: 23%;
      background-color: $cyan;
      height: 10px;
      position: absolute;
      right: -80px;
      top: 47%;
      z-index: 0;
    }

    .detailed-record {
      margin-top: 4%;
      position: relative;
    }

    .detailed-record::after {
      content: "";
      display: block;
      width: 23%;
      background-color: $cyan;
      height: 10px;
      position: absolute;
      right: -80px;
      top: 47%;
      z-index: 0;
    }

    .fully-customizable {
      position: relative;
      margin-top: 8%;
    }


    .dvanced-statistics-icons {
      width: 25%;
      height: 87px;
      border-radius: 60px;
      background-color: $dark-violet;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0%;
      right: 224px;
    }

    .advanced-statistics-box {
      width: 26%;
      margin-bottom: 8px;
      width: 31%;
      height: 269px;
      text-align: center;
      background-color: white;
      border-radius: 2%;
      width: 346px;
    
      .tittle-box {
        padding-top: 78px;
        font-size: 23px;
        padding-right: 59px;
        margin-bottom: 13px;
      }
      
      .text-box {
        text-align: justify;
        padding-left: 33px;
        color: $grayish-violet;
      }
    }
  }
}

.boost-your-section {
  background-image: url("images/bg-boost-desktop.svg");
  background-color: $dark-violet;
  background-repeat: no-repeat;
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 39px;
    color: $black-white;
    margin-bottom: 12px;
  }

  .button {
    width: 191px;
    height: 54px;
    border-radius: 29px;
    margin-bottom: 49px;
    background-color: $cyan;
    font-size: 18px;
    color: $athens-gray;
    border: $santas-gray;
  }
}

footer {
  background-color: $very-dark-blue;
  justify-content: space-between;
  padding: 5%;
  padding-left: 11%;
  padding-right: 11%;
  padding-bottom: 20px;

  ul {
    list-style: none;
  }

  .links-footer {
    color: $athens-gray;
    width: 512px;
    display: flex;
    justify-content: space-around;
    margin-top: -3%;
    padding-left: 121px;
  }

  .list-tittle {
    line-height: 59px;
    color: $athens-gray;
    text-decoration: none;
    font-size: 18px;
  }
      
  .list {
    color: $grayish-violet;
    text-decoration: none;
    line-height: 36px;
  }

  .icon-social-media {
    width: 185px;
    display: flex;
    justify-content: space-between;
  }
}
