
/* Primary colors */
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
/* Secondary */
$red: hsl(0, 87%, 67%);
/* Neutral */
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$vary-dark-violet: hsl(260, 8%, 14%);
$athens-gray: #f0f1f6;
$Athens-gray: #F0F1F6;

h1 {
  font-size: 79px;
  margin: 0;
}

h4 {
  font-size: 22px;
}

.width-100 {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  justify-content: space-between;

  .brand-links-section {
    width: 50%;
    display: flex;
  }
  
  .links {
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;

    .link {
      text-decoration: none;
    }
  }
}

.link-no-subline {
  text-decoration: none;
}

.background-color-athens-gray {
  background-color: $athens-gray;
}

.general-padding {
  padding: 3% 10% 0 10%;
}

.login-sign-up {
  display: flex;
  align-items: center;
  width: 17%;
  justify-content: space-between;
  
  .button {
    width: 112px;
    height: 41px;
    border-radius: 33px;
    background-color: $cyan;
    font-size: 17px;
    color: $athens-gray;
  }
}

.more-than-just {
  width: 40%;
} 

.image{
  display: flex;
}

.get-started-seccion {
  margin-top: 5%;
  padding-left: 10%;

  .get-started-button {
    width: 160px;
    height: 46px;
    margin-bottom: 144px;
    border-radius: 27px;
    font-size: 17px;
    color: $athens-gray;
    background-color: $cyan;
  }
}

.shorten-link-section {
  height: 170px;
  width: 80%;
  margin: auto;
  background-image: url("images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-color: $dark-violet;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .input {
    width: 788px;
    height: 58px;
    border-radius: 12px;
    font-size: 19px;
    padding-left: 32px;
  }

  .button {
    width: 192px;
    height: 58px;
    border-radius: 12px;
    margin-left: 21px;
    background-color: $cyan;
    font-size: 22px;
    color: $athens-gray;
  }
}

.advanced-statistics-section {
  background-color: $Athens-gray;
  padding: 5% 10% 5% 10%;

  .advanced-statistics-text {
    text-align: center;

    .title {
      font-family: sans-serif;
      font-size: 45px;
      margin-bottom: 16px;
    }

    .description {
      font-size: 26px;
      line-height: 33px;
    }
  }

  .advanced-statistics-box {
    width: 26%;
    margin-bottom: 8px;
    width: 31%;
    height: 269px;
    text-align: center;
    background-color: white;
  }
}